# Affordable Housing

Question 1)

--Which areas of Davidson County have seen the most rapid increase in home prices? 

--Which ones are losing affordable housing? 

You can choose different ways to slice the data - by council district or by zipcode, for example.

In [1]:
#Use Postgres database using squalchemy library, within python notebook. 
from sqlalchemy import create_engine

First, create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

In [2]:
connection_string = "postgres://postgres:postgres@localhost:5432/parcels"

In [3]:
#create an engine and use it to connect
engine = create_engine(connection_string)

1a:  First look at the average home price per day/per zip code from 1/1/2010 to 4/30/2021

In [4]:
#create query and pass it into the .query() method EXTRACT (YEAR FROM birth_date) AS YEAR,
Q1a = '''
SELECT EXTRACT (YEAR FROM owndate) AS year, saleprice, council, propzip, ludesc, taxdist
from property_updated
WHERE 
owndate >= '2010-01-01' AND
owndate <= '2021-04-30' AND
council >= '1' AND 
council <= '35' AND 
ludesc in (
    'DUPLEX',
    'QUADPLEX',
    'RESIDENTIAL CONDO',
    'SINGLE FAMILY',
    'TRIPLEX',
    'ZERO LOT LINE',
    'VACANT RESIDENTIAL LAND')
GROUP BY owndate, saleprice, propzip, ludesc, council, taxdist
ORDER BY owndate, saleprice;
'''

result = engine.execute(Q1a)

# ROUND(AVG(saleprice)) AS ave_price,

Fetch the results as tuples using either `fetchone` or `fetchall`:

In [5]:
result.fetchone()

(2010.0, Decimal('0.0'), 21, 37209, 'SINGLE FAMILY', 'USD')

In [6]:
result.fetchall()

[(2010.0, Decimal('395500.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 26, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 5, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('86825.0'), 9, 37115, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('103000.0'), 20, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('115000.0'), 8, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('155000.0'), 27, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('310000.0'), 23, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('387185.0'), 19, 37203, 'RESIDENTIAL CONDO', 'GBID'),
 (2010.0, Decimal('0.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 13, 37214, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 12, 37076, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('107000.0'), 9, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('160000.0'), 23, 37205, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('160000.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('965000.0'), 23, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('1900000.0'), 34, 37215, 'SINGLE FAMILY', 'FH'),
 (2010.0, Decimal('0.0'), 13, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 28, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 33, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('68250.0'), 3, 37207, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('76900.0'), 20, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('126549.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('274000.0'), 34, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('315000.0'), 26, 37220, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('357000.0'), 19, 37203, 'RESIDENTIAL CONDO', 'GBID'),
 (2010.0, Decimal('0.0'), 23, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 15, 37214, 'DUPLEX', 'USD'),
 (2010.0, Decimal('78900.0'), 27, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('88000.0'), 31, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('123000.0'), 22, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('352000.0'), 19, 37203, 'RESIDENTIAL CONDO', 'GBID'),
 (2010.0, Decimal('1402500.0'), 14, 37076, 'VACANT RESIDENTIAL LAND', 'GSD'),
 (2010.0, None, 14, 37076, 'VACANT RESIDENTIAL LAND', 'GSD'),
 (2010.0, Decimal('0.0'), 27, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('79000.0'), 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('90000.0'), 19, 37212, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('110000.0'), 17, 37204, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('116000.0'), 1, 37189, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('128300.0'), 4, 37027, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('128500.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('143000.0'), 28, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('185600.0'), 4, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('212561.0'), 31, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('224000.0'), 24, 37209, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('412500.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('1310000.0'), 34, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 24, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 17, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('33000.0'), 29, 37013, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('99000.0'), 16, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('112900.0'), 9, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('112900.0'), 9, 37115, 'VACANT RESIDENTIAL LAND', 'USD '),
 (2010.0, Decimal('141130.0'), 22, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('179900.0'), 25, 37215, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('259000.0'), 24, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('1435000.0'), 34, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 22, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('0.0'), 7, 37216, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 32, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 1, 37218, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 1, 37218, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('2445.0'), 21, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('12000.0'), 21, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('125000.0'), 8, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('129900.0'), 15, 37214, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('139000.0'), 31, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 34, 37220, 'SINGLE FAMILY', 'OH'),
 (2010.0, Decimal('0.0'), 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 4, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 7, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 28, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('185000.0'), 22, 37221, 'DUPLEX', 'GSD'),
 (2010.0, Decimal('395000.0'), 4, 37027, 'SINGLE FAMILY', 'USD'),
 (2010.0, None, 20, 37209, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('0.0'), 19, 37203, 'RESIDENTIAL CONDO', 'GBID'),
 (2010.0, Decimal('0.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 17, 37203, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('71000.0'), 17, 37210, 'DUPLEX', 'USD'),
 (2010.0, Decimal('108000.0'), 30, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('153200.0'), 33, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('160200.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('412500.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, None, 13, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 2, 37218, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('0.0'), 10, 37072, 'SINGLE FAMILY', 'GO'),
 (2010.0, Decimal('0.0'), 23, 37205, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 32, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 1, 37080, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('10000.0'), 26, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('24500.0'), 19, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('88900.0'), 2, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('113000.0'), 3, 37218, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('121900.0'), 15, 37210, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('142250.0'), 32, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('145000.0'), 1, 37080, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('159900.0'), 19, 37203, 'RESIDENTIAL CONDO', 'CBID'),
 (2010.0, Decimal('194500.0'), 14, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('232500.0'), 24, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('259792.0'), 19, 37201, 'RESIDENTIAL CONDO', 'CBID'),
 (2010.0, Decimal('346500.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('370000.0'), 20, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('661225.0'), 24, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('61501.0'), 3, 37207, 'DUPLEX', 'USD '),
 (2010.0, Decimal('120000.0'), 1, 37218, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 30, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 16, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 34, 37220, 'SINGLE FAMILY', 'OH'),
 (2010.0, Decimal('23682.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('57000.0'), 13, 37214, 'ZERO LOT LINE', 'GSD'),
 (2010.0, Decimal('62500.0'), 35, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('80323.0'), 10, 37072, 'SINGLE FAMILY', 'GO'),
 (2010.0, Decimal('144000.0'), 3, 37207, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('163900.0'), 13, 37217, 'DUPLEX', 'USD'),
 (2010.0, Decimal('199900.0'), 31, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('328289.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('825000.0'), 34, 37220, 'SINGLE FAMILY', 'OH'),
 (2010.0, Decimal('0.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('412.0'), 20, 37209, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('432.0'), 29, 37217, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('474.0'), 2, 37207, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('486.0'), 19, 37210, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('532.0'), 21, 37208, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('541.0'), 5, 37206, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('1153.0'), 5, 37206, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('10000.0'), 35, 37221, 'VACANT RESIDENTIAL LAND', 'GSD'),
 (2010.0, Decimal('36500.0'), 28, 37013, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('89900.0'), 13, 37214, 'ZERO LOT LINE', 'GSD'),
 (2010.0, Decimal('146500.0'), 33, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('148300.0'), 33, 37135, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('189900.0'), 33, 37135, 'ZERO LOT LINE', 'GSD'),
 (2010.0, Decimal('205000.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('221500.0'), 25, 37204, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('0.0'), 4, 37211, 'DUPLEX', 'GSD'),
 (2010.0, Decimal('0.0'), 6, 37206, 'DUPLEX', 'USD'),
 (2010.0, Decimal('21000.0'), 29, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('55000.0'), 9, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('58000.0'), 9, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('73501.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('86600.0'), 32, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('117500.0'), 32, 37013, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('131000.0'), 29, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('149900.0'), 33, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('239435.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, None, 32, 37013, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('0.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('8916.0'), 13, 37214, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('87900.0'), 8, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('112000.0'), 16, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('174510.0'), 3, 37189, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('209900.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('220770.0'), 1, 37218, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('225000.0'), 12, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('255000.0'), 23, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('287131.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('289500.0'), 19, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('375000.0'), 25, 37204, 'DUPLEX', 'USD'),
 (2010.0, Decimal('1195000.0'), 23, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, None, 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 1, 37080, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 33, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('100000.0'), 13, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('110000.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('177500.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('229000.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('290000.0'), 7, 37216, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 22, 37209, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 4, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 34, 37215, 'SINGLE FAMILY', 'FH'),
 (2010.0, Decimal('45200.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('91900.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('119500.0'), 8, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('183900.0'), 26, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('185000.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 24, 37205, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 3, 37189, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 28, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 22, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('114900.0'), 32, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('120000.0'), 14, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('147500.0'), 22, 37221, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('168415.0'), 27, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('182900.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('254000.0'), 4, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('275000.0'), 16, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('341000.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, None, 26, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('1250.0'), 26, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('26000.0'), 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('35000.0'), 21, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('62200.0'), 11, 37076, 'RESIDENTIAL CONDO', 'GSD'),
 (2010.0, Decimal('75000.0'), 7, 37216, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('93500.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('102000.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('104000.0'), 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('135300.0'), 33, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('149325.0'), 3, 37189, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('160000.0'), 10, 37115, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('184900.0'), 31, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('190000.0'), 7, 37216, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('199900.0'), 26, 37220, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('232000.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('300000.0'), 34, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('319000.0'), 17, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('372500.0'), 4, 37027, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('418000.0'), 4, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('755000.0'), 34, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 12, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 35, 37209, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 1, 37218, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('82000.0'), 18, 37212, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('82000.0'), 28, 37013, 'DUPLEX', 'USD'),
 (2010.0, Decimal('110080.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('111000.0'), 8, 37115, 'RESIDENTIAL CONDO', 'USD '),
 (2010.0, Decimal('115000.0'), 12, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('124000.0'), 30, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('133000.0'), 20, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('136500.0'), 1, 37218, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('138000.0'), 1, 37080, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('141000.0'), 5, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('185000.0'), 7, 37216, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('189900.0'), 17, 37204, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('262500.0'), 25, 37204, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('290000.0'), 4, 37027, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('325000.0'), 18, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('368625.0'), 14, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('375000.0'), 34, 37215, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('415000.0'), 18, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('460000.0'), 18, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, None, 13, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, None, 18, 37212, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('0.0'), 17, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 34, 37215, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 29, 37217, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 18, 37212, 'DUPLEX', 'USD'),
 (2010.0, Decimal('0.0'), 21, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 12, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 4, 37220, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('53278.0'), 20, 37209, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('70000.0'), 6, 37206, 'DUPLEX', 'USD'),
 (2010.0, Decimal('70850.0'), 29, 37217, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('118000.0'), 8, 37115, 'RESIDENTIAL CONDO', 'USD '),
 (2010.0, Decimal('119000.0'), 3, 37207, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('400000.0'), 21, 37208, 'VACANT RESIDENTIAL LAND', 'USD'),
 (2010.0, Decimal('0.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('15000.0'), 21, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('90000.0'), 22, 37221, 'ZERO LOT LINE', 'GSD'),
 (2010.0, Decimal('150000.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('202000.0'), 31, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('255000.0'), 24, 37209, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 2, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 16, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('45000.0'), 14, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('97500.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('147700.0'), 15, 37214, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('255500.0'), 4, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 33, 37013, 'VACANT RESIDENTIAL LAND', 'GSD'),
 (2010.0, Decimal('0.0'), 25, 37215, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 31, 37211, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 11, 37138, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('27000.0'), 7, 37216, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('32000.0'), 19, 37208, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('45000.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('49700.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('60400.0'), 3, 37207, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('195000.0'), 24, 37205, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('210000.0'), 4, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('261500.0'), 25, 37215, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('264888.0'), 24, 37209, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('373500.0'), 21, 37203, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 4, 37027, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 18, 37212, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 12, 37076, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 29, 37217, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('0.0'), 4, 37027, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 27, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 9, 37115, 'VACANT RESIDENTIAL LAND', 'GSD'),
 (2010.0, Decimal('0.0'), 33, 37013, 'ZERO LOT LINE', 'USD'),
 (2010.0, Decimal('0.0'), 21, 37208, 'TRIPLEX', 'USD'),
 (2010.0, Decimal('18500.0'), 3, 37207, 'DUPLEX', 'USD '),
 (2010.0, Decimal('80500.0'), 32, 37013, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('87500.0'), 3, 37189, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('113750.0'), 30, 37211, 'DUPLEX', 'USD'),
 (2010.0, Decimal('182900.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('237500.0'), 35, 37221, 'SINGLE FAMILY', 'GSD'),
 (2010.0, None, 2, 37208, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('0.0'), 6, 37206, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 8, 37115, 'SINGLE FAMILY', 'USD '),
 (2010.0, Decimal('0.0'), 26, 37211, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 28, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('0.0'), 5, 37206, 'DUPLEX', 'USD'),
 (2010.0, Decimal('0.0'), 31, 37013, 'SINGLE FAMILY', 'GSD'),
 (2010.0, Decimal('0.0'), 24, 37205, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('36000.0'), 26, 37211, 'RESIDENTIAL CONDO', 'USD'),
 (2010.0, Decimal('106000.0'), 28, 37013, 'SINGLE FAMILY', 'USD'),
 (2010.0, Decimal('127500.0'), 3, 37207, 'SINGLE FAMILY', 'USD '),

In [7]:
#Run the sequel query through pandas 

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import pandas as pd
import plotly.express as px 

from IPython.core.display import HTML
%matplotlib inline

In [8]:
pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)

In [9]:
price = pd.read_sql(Q1a, con = engine)
price.head()

     year  saleprice  council  propzip             ludesc taxdist
0  2010.0        0.0       21    37209      SINGLE FAMILY     USD
1  2010.0   395500.0       21    37203  RESIDENTIAL CONDO     USD
2  2010.0        0.0       26    37211      SINGLE FAMILY     USD
3  2010.0        0.0        5    37207      SINGLE FAMILY     USD
4  2010.0    86825.0        9    37115      SINGLE FAMILY     GSD

In [10]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134318 entries, 0 to 134317
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       134318 non-null  float64
 1   saleprice  116104 non-null  float64
 2   council    134318 non-null  int64
 3   propzip    134318 non-null  int64
 4   ludesc     134318 non-null  object
 5   taxdist    134318 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 6.1+ MB

In [11]:
price.year.describe()

count    134318.000000
mean       2016.638567
std           2.962605
min        2010.000000
25%        2015.000000
50%        2017.000000
75%        2019.000000
max        2021.000000
Name: year, dtype: float64

In [12]:
#converting to date-time is causing problems on the pivot, so will try converting to numeric
#price['year'] = pd.to_datetime(price['year'], format='%Y')
# to_numeric made it into a float 
#price.year = pd.to_numeric(price.year)
#price['year'] = price['year'].dt.year

#price['year'] = pd.to_datetime(price['year']).dt.year

In [13]:
#convert saleprice NaNs to 0
price['saleprice'] = price['saleprice'].fillna(0)

In [14]:
price['saleprice'] = price['saleprice'].apply(int)

In [15]:
price.head(3)

     year  saleprice  council  propzip             ludesc taxdist
0  2010.0          0       21    37209      SINGLE FAMILY     USD
1  2010.0     395500       21    37203  RESIDENTIAL CONDO     USD
2  2010.0          0       26    37211      SINGLE FAMILY     USD

In [16]:
ten_yr_price = price[price['year'].isin([2010,2020])]
print(ten_yr_price.head())

     year  saleprice  council  propzip             ludesc taxdist
0  2010.0          0       21    37209      SINGLE FAMILY     USD
1  2010.0     395500       21    37203  RESIDENTIAL CONDO     USD
2  2010.0          0       26    37211      SINGLE FAMILY     USD
3  2010.0          0        5    37207      SINGLE FAMILY     USD
4  2010.0      86825        9    37115      SINGLE FAMILY     GSD

In [17]:
ten_yr_pivoted = ten_yr_price.pivot_table(index = ['propzip'], columns = ['year'], values = ['saleprice'], \
                                         aggfunc = {'median', 'mean'})

#.dropna()

In [18]:
ten_yr_pivoted

             saleprice
                  mean                   median
year            2010.0         2020.0    2010.0    2020.0
propzip
37013    105882.824275  237908.371619  117000.0  229000.0
37015     37400.000000   54142.857143       0.0       0.0
37027    222488.594595  392649.219331  245000.0  375000.0
37064    203000.000000  578500.000000  203000.0  578500.0
37072     82005.141176  234450.661943   80323.0  249995.0
37076    125136.851695  259708.391881  127756.0  260000.0
37080    110358.333333  244986.815789  115500.0  262250.0
37115     79012.327511  205822.033373   70000.0  200000.0
37122    201704.800000  262230.242424  250000.0  365000.0
37135    288577.230769  323148.257384  294900.0  330850.0
37138    102101.941176  244713.896166   87500.0  238950.0
37143     91750.000000  211055.555556   84500.0  215000.0
37189    130799.421053  233025.000000  138080.0  226750.0
37201    221231.571429  416953.650000  243125.0  339500.0
37203    269922.026316  387683.436720  233500.0  377500.0
37204    246353.410000  548912.551167  204125.0  475000.0
37205    333719.194030  655216.141350  250000.0  449705.0
37206    135980.508380  344189.921004  127000.0  380000.0
37207     69473.004255  250023.009317   58500.0  240000.0
37208     48886.624060  297220.473829   15000.0  310000.0
37209    147515.029703  350947.014060  112250.0  350000.0
37210     75984.679487  288070.893271   71250.0  245000.0
37211    117980.470000  233788.121532  119400.0  259000.0
37212    247852.459016  492535.774737  209500.0  418500.0
37214     89050.419214  231544.844902   89900.0  242500.0
37215    367882.698020  696193.482613  262000.0  580000.0
37216    110844.296875  292919.498780  115047.5  321500.0
37217     79259.104938  168510.616364   86650.0  185950.0
37218     64767.185841  193509.330097   40000.0  179450.0
37219    131400.714286  448591.608108  195000.0  362000.0
37220    220184.677419  578758.340249  207500.0  460000.0
37221    149094.869697  288449.556222  165750.0  305500.0

In [19]:
ten_yr_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 37013 to 37221
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   (saleprice, mean, 2010.0)    32 non-null     float64
 1   (saleprice, mean, 2020.0)    32 non-null     float64
 2   (saleprice, median, 2010.0)  32 non-null     float64
 3   (saleprice, median, 2020.0)  32 non-null     float64
dtypes: float64(4)
memory usage: 1.2 KB

In [23]:
#ten_yr_pivoted.columns = ten_yr_pivoted.columns.get_level_values(0)
#ten_yr_pivoted.unstack().reset_index().drop('level_0', axis=1)

    level_1    year  propzip              0
0      mean  2010.0    37013  105882.824275
1      mean  2010.0    37015   37400.000000
2      mean  2010.0    37027  222488.594595
3      mean  2010.0    37064  203000.000000
4      mean  2010.0    37072   82005.141176
5      mean  2010.0    37076  125136.851695
6      mean  2010.0    37080  110358.333333
7      mean  2010.0    37115   79012.327511
8      mean  2010.0    37122  201704.800000
9      mean  2010.0    37135  288577.230769
10     mean  2010.0    37138  102101.941176
11     mean  2010.0    37143   91750.000000
12     mean  2010.0    37189  130799.421053
13     mean  2010.0    37201  221231.571429
14     mean  2010.0    37203  269922.026316
15     mean  2010.0    37204  246353.410000
16     mean  2010.0    37205  333719.194030
17     mean  2010.0    37206  135980.508380
18     mean  2010.0    37207   69473.004255
19     mean  2010.0    37208   48886.624060
20     mean  2010.0    37209  147515.029703
21     mean  2010.0    37210   75984.679487
22     mean  2010.0    37211  117980.470000
23     mean  2010.0    37212  247852.459016
24     mean  2010.0    37214   89050.419214
25     mean  2010.0    37215  367882.698020
26     mean  2010.0    37216  110844.296875
27     mean  2010.0    37217   79259.104938
28     mean  2010.0    37218   64767.185841
29     mean  2010.0    37219  131400.714286
30     mean  2010.0    37220  220184.677419
31     mean  2010.0    37221  149094.869697
32     mean  2020.0    37013  237908.371619
33     mean  2020.0    37015   54142.857143
34     mean  2020.0    37027  392649.219331
35     mean  2020.0    37064  578500.000000
36     mean  2020.0    37072  234450.661943
37     mean  2020.0    37076  259708.391881
38     mean  2020.0    37080  244986.815789
39     mean  2020.0    37115  205822.033373
40     mean  2020.0    37122  262230.242424
41     mean  2020.0    37135  323148.257384
42     mean  2020.0    37138  244713.896166
43     mean  2020.0    37143  211055.555556
44     mean  2020.0    37189  233025.000000
45     mean  2020.0    37201  416953.650000
46     mean  2020.0    37203  387683.436720
47     mean  2020.0    37204  548912.551167
48     mean  2020.0    37205  655216.141350
49     mean  2020.0    37206  344189.921004
50     mean  2020.0    37207  250023.009317
51     mean  2020.0    37208  297220.473829
52     mean  2020.0    37209  350947.014060
53     mean  2020.0    37210  288070.893271
54     mean  2020.0    37211  233788.121532
55     mean  2020.0    37212  492535.774737
56     mean  2020.0    37214  231544.844902
57     mean  2020.0    37215  696193.482613
58     mean  2020.0    37216  292919.498780
59     mean  2020.0    37217  168510.616364
60     mean  2020.0    37218  193509.330097
61     mean  2020.0    37219  448591.608108
62     mean  2020.0    37220  578758.340249
63     mean  2020.0    37221  288449.556222
64   median  2010.0    37013  117000.000000
65   median  2010.0    37015       0.000000
66   median  2010.0    37027  245000.000000
67   median  2010.0    37064  203000.000000
68   median  2010.0    37072   80323.000000
69   median  2010.0    37076  127756.000000
70   median  2010.0    37080  115500.000000
71   median  2010.0    37115   70000.000000
72   median  2010.0    37122  250000.000000
73   median  2010.0    37135  294900.000000
74   median  2010.0    37138   87500.000000
75   median  2010.0    37143   84500.000000
76   median  2010.0    37189  138080.000000
77   median  2010.0    37201  243125.000000
78   median  2010.0    37203  233500.000000
79   median  2010.0    37204  204125.000000
80   median  2010.0    37205  250000.000000
81   median  2010.0    37206  127000.000000
82   median  2010.0    37207   58500.000000
83   median  2010.0    37208   15000.000000
84   median  2010.0    37209  112250.000000
85   median  2010.0    37210   71250.000000
86   median  2010.0    37211  119400.000000
87   median  2010.0    37212  209500.000000
88   median  2010.0    37214   89900.000000
89   median  2010.0    37215  262000.000000
90   median  2010.0    37216  115047.500000
91   median  2010.0    37217   86650.000000
92   median  2010.0    37218   40000.000000
93   median  2010.0    37219  195000.000000
94   median  2010.0    37220  207500.000000
95   median  2010.0    37221  165750.000000
96   median  2020.0    37013  229000.000000
97   median  2020.0    37015       0.000000
98   median  2020.0    37027  375000.000000
99   median  2020.0    37064  578500.000000
100  median  2020.0    37072  249995.000000
101  median  2020.0    37076  260000.000000
102  median  2020.0    37080  262250.000000
103  median  2020.0    37115  200000.000000
104  median  2020.0    37122  365000.000000
105  median  2020.0    37135  330850.000000
106  median  2020.0    37138  238950.000000
107  median  2020.0    37143  215000.000000
108  median  2020.0    37189  226750.000000
109  median  2020.0    37201  339500.000000
110  median  2020.0    37203  377500.000000
111  median  2020.0    37204  475000.000000
112  median  2020.0    37205  449705.000000
113  median  2020.0    37206  380000.000000
114  median  2020.0    37207  240000.000000
115  median  2020.0    37208  310000.000000
116  median  2020.0    37209  350000.000000
117  median  2020.0    37210  245000.000000
118  median  2020.0    37211  259000.000000
119  median  2020.0    37212  418500.000000
120  median  2020.0    37214  242500.000000
121  median  2020.0    37215  580000.000000
122  median  2020.0    37216  321500.000000
123  median  2020.0    37217  185950.000000
124  median  2020.0    37218  179450.000000
125  median  2020.0    37219  362000.000000
126  median  2020.0    37220  460000.000000
127  median  2020.0    37221  305500.000000

In [21]:
ten_yr_pivoted

             saleprice
                  mean                   median
year            2010.0         2020.0    2010.0    2020.0
propzip
37013    105882.824275  237908.371619  117000.0  229000.0
37015     37400.000000   54142.857143       0.0       0.0
37027    222488.594595  392649.219331  245000.0  375000.0
37064    203000.000000  578500.000000  203000.0  578500.0
37072     82005.141176  234450.661943   80323.0  249995.0
37076    125136.851695  259708.391881  127756.0  260000.0
37080    110358.333333  244986.815789  115500.0  262250.0
37115     79012.327511  205822.033373   70000.0  200000.0
37122    201704.800000  262230.242424  250000.0  365000.0
37135    288577.230769  323148.257384  294900.0  330850.0
37138    102101.941176  244713.896166   87500.0  238950.0
37143     91750.000000  211055.555556   84500.0  215000.0
37189    130799.421053  233025.000000  138080.0  226750.0
37201    221231.571429  416953.650000  243125.0  339500.0
37203    269922.026316  387683.436720  233500.0  377500.0
37204    246353.410000  548912.551167  204125.0  475000.0
37205    333719.194030  655216.141350  250000.0  449705.0
37206    135980.508380  344189.921004  127000.0  380000.0
37207     69473.004255  250023.009317   58500.0  240000.0
37208     48886.624060  297220.473829   15000.0  310000.0
37209    147515.029703  350947.014060  112250.0  350000.0
37210     75984.679487  288070.893271   71250.0  245000.0
37211    117980.470000  233788.121532  119400.0  259000.0
37212    247852.459016  492535.774737  209500.0  418500.0
37214     89050.419214  231544.844902   89900.0  242500.0
37215    367882.698020  696193.482613  262000.0  580000.0
37216    110844.296875  292919.498780  115047.5  321500.0
37217     79259.104938  168510.616364   86650.0  185950.0
37218     64767.185841  193509.330097   40000.0  179450.0
37219    131400.714286  448591.608108  195000.0  362000.0
37220    220184.677419  578758.340249  207500.0  460000.0
37221    149094.869697  288449.556222  165750.0  305500.0

In [25]:
ten_yr_pivoted['10yr_percent_change'] = 100*(ten_yr_pivoted[2020] - ten_yr_pivoted[2010]) / ten_yr_pivoted[2010]

TypeError: 'method' object is not subscriptable

In [ ]:
five_yr_price = price[price['year'].isin([2015,2020])]
print(five_yr_price.head())

In [ ]:
five_yr_pivoted = five_yr_price.pivot_table(, columns = ['year'], index = ['propzip'], \
                                            values = ['saleprice'], aggfunc = {'median', 'mean'})

#.dropna()

In [ ]:
five_yr_pivoted.columns = five_yr_pivoted.columns.get_level_values(0)

In [ ]:
five_yr_pivoted['5yr_percent_change'] = 100*(five_yr_pivoted[2020] - five_yr_pivoted[2015]) / five_yr_pivoted[2015]

In [ ]:
five_yr_pivoted.sort_values('percent_change_5', ascending = False).head(5)

In [ ]:
ten_yr_pivoted.sort_values('percent_change_10', ascending = False).head(5)

In [ ]:
#five_yr_pivoted[five_yr_pivoted.percent_change_5].groupby('year').mean().plot()
#plt.title('Mean Sale Price by Zip Code by Year');

In [ ]:
ave_price_2010 = price[price['year']==2010]

In [ ]:
ave_price_2010.groupby('propzip')['saleprice'].mean()

In [ ]:
median_price_2010 = ave_price_2010.groupby('propzip')['saleprice'].median()
median_price_2010

In [ ]:
# med_price_2011 = ave_price_2011.groupby('propzip')['saleprice'].median()
# med_price_2011
median_price_2020 = price[price['year']==2020].groupby('propzip')['saleprice'].median()
median_price_2020

In [ ]:
median_price_2015 = price[price['year']==2015].groupby('propzip')['saleprice'].median()
median_price_2015

In [ ]:
Median_price_trends =

In [ ]:
# price['2011_med_price'] = price[price['year']==2011].groupby('propzip')['saleprice'].median()
# price.head()

In [ ]:
price.info()

In [ ]:
#using merge_ordered because it's ordered/time series data
#comb_med_price_change = pd.merge_ordered(median_price_2011.union, median_price_2016, on='propzip', suffixes('_2011', '_2016').merge_ordered(median_price_2021, on='propzip')

In [ ]:
#median_price_2011 = median_price_2011.to_frame()
# med_price_2016 = pd.Dataframe(median_price_2016)
# med_price_2021 = pd.Dataframe(median_price_2021)

In [ ]:
#index_col = 'propzip'
# comb_med_price_change = median_price_2011.merge(median_price_2016, on = 'propzip', suffixes = ('_2011', '_2016')) \
#                                                 .merge('median_price_2021', on = 'propzip', suffixes = '_2021' )
# comb_med_price_change

In [ ]:
# comb_med_price_change = pd.concat([median_price_2011, median_price_2016, median_price_2021])
# comb_med_price_change

In [ ]:
# Who are the top opioid prescribers? 
# Q2 = '''
# SELECT p.nppes_provider_first_name, p.nppes_provider_last_org_name, 
# SUM(total_claim_count) AS total_claims, d.opioid_drug_flag, p.specialty_description
# FROM prescriber AS p
# INNER JOIN prescription AS p2
# USING (npi)
# INNER JOIN drug AS d
# USING (drug_name)
# WHERE opioid_drug_flag = 'Y'
# GROUP BY p.nppes_provider_first_name, p.nppes_provider_last_org_name, d.opioid_drug_flag, p.specialty_description
# ORDER BY SUM(total_claim_count) DESC;
# '''

# resultQ2 = engine.execute(Q2)

In [ ]:
#resultQ2.fetchall()

In [ ]:
# opioid_prescribers = pd.read_sql(Q2, con = engine)
# opioid_prescribers

In [ ]:
# fips_query = '''
# SELECT *
# FROM fips_county
# LIMIT 10;
# '''

# result_fips = engine.execute(fips_query)

In [ ]:
#result_fips.fetchall()

In [ ]:
# Describe overdose deaths due to opioids in TN from 2015-2018
# Q3 = '''
# SELECT SUM(overdose_deaths) AS overdoses, year, state
# FROM overdose_deaths AS o
# INNER JOIN fips_county AS f
# ON o.fipscounty = f.fipscounty 
# WHERE state = 'TN'
# GROUP BY year, state;
# '''

# resultQ3 = engine.execute(Q3)

In [ ]:
#resultQ3.fetchall()

In [ ]:
# tn_overdoses = pd.read_sql(Q3, con = engine)
# tn_overdoses

In [ ]:
import plotly.express as px

In [ ]:
# fig = px.line(tn_overdoses, x = ['2015', '2016', '2017', '2018'], y='overdoses', 
#               hover_data = ['overdoses'], labels=dict(x="Year", overdoses="Number of Overdose Deaths"))
# fig.update_layout(title = 'Trend for TN Opioid Overdose Deaths, Years 2015-2018')
# fig.show()

# fig.write_html('../sql_rx_project-dankedpat-nationals/data/tn_overdoses.html')

In [ ]:
#resultQ3a.fetchall()

In [ ]:
#1 Which Tennessee counties had a disproportionately high number of opioid prescriptions?
# Q1 = '''
# WITH county AS(
# SELECT npi, nppes_provider_zip5, nppes_provider_state, state, county, f.fipscounty
# FROM prescriber AS p
# JOIN zip_fips AS z
# ON p.nppes_provider_zip5 = z.zip 
# JOIN fips_county AS f
# ON z.fipscounty = f.fipscounty
# ORDER BY county)

# SELECT SUM(total_claim_count) AS rx, opioid_drug_flag, county, state, population
# FROM county as c
# INNER JOIN prescription as p2
# ON c.npi = p2.npi
# INNER JOIN drug AS d
# USING (drug_name)
# INNER JOIN population as p3
# USING (fipscounty)
# WHERE opioid_drug_flag = 'Y' AND state = 'TN'
# GROUP BY county, opioid_drug_flag, state, population
# ORDER BY rx DESC;
# '''

# resultQ1 = engine.execute(Q1)

In [ ]:
# resultQ1.fetchone()

# Q1 = pd.read_sql(Q1, con = engine)
# Q1

In [ ]:
#Q1['Ratio'] = pd.to_numeric((Q1['rx'] / Q1['population']) * 1000)

In [ ]:
# Q1 = Q1.sort_values('Ratio', ascending = False)
# plt.figure(figsize = (15,8))
# Q1['Ratio'].plot(kind = 'bar', color = 'blue', )
# plt.xticks(rotation = 90, fontsize = 10)
# plt.yticks(fontsize = 14)
# plt.xlabel('County', fontsize = 14)
# plt.ylabel('Claims per 1,000 Persons', fontsize = 14)
# plt.title('TN County Opioid Claims per 1,000 Persons', fontsize = 16, fontweight = 'bold');

gensim for topic modelling, embeddings

https://www.padctn.org/prc/property/63402/card/1
https://maps.nashville.gov/ParcelViewer/